<h1 class="display-4 text-primary" style="text-align: center"> User Sign In </h1>
<br>

<center><% flash.each do | key, v | %>
    <li style='color:red'><%= v %></li>
<% end %>

<br>

<%= form_with model: @user, :html => {:class => "form-horizontal center", :style => "text-align: center"}, :url => url_for(:controller => 'sessions', :action => 'create') do | f |%>
    <div class="form-group">
        <%= f.text_field :name, placeholder: "Enter Name" %>
    </div>
    <div class="form-group">
        <%= f.password_field :password, placeholder: "Enter Password"%>
    </div>
    <div class="actions">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
    </div>
<% end %>

<br><br>
<p style="text-align: center"> Don't have an account? </p>
<center><%= button_to 'Create an Account', new_user_path, method: :get, class: "btn btn-primary" %>