<h1>Rent. Play. Swap.</h1> 

<%= link_to "Guitars", category_path("guitars") %>
<br>
<%= link_to "Basses", category_path("basses") %>
<br>
<%= link_to "Drums", category_path("drums") %>
<br>
<%= link_to "Keyboards", category_path("keyboards") %>
<br>
<%= link_to "Recording", category_path("recording") %>
