
<h1 class="display-2 text-primary" style="text-align: center">Hello, <%= @user.name %>!</h1>
<h2 class="display-5 text-primary" style="text-align: center">Here are your current rentals:</h2>

<% flash.each do | key, v | %>
    <li style='color: blue '> <%= v %> </li>
<%end %>
   
<div class="card-columns" style="text-align: center">
<% @user.rentals.each do | rental | %>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="<%=rental.instrument.image_url%>">
        <div class="card-body">
            <p class="card-text"><%=rental.instrument.name%></p>
        </div>
        <%= button_to 'Return', {:controller => :rentals, :action => 'destroy', :id => rental.id}, :method => :delete, class: "btn btn-primary" %>
    </div>


<%end%>
</div>




<br><br>
<center><%= button_to 'Log Out', {:controller => :sessions, :action => 'destroy'}, :method => :delete, class: "btn btn-primary" %>
<br>
<%= button_to 'Manage Account', edit_user_path, method: :get, class: "btn btn-primary" %>
