<h1> <%= @instrument.name %> </h1> 
<br>
<img src="<%= @instrument.image_url %>">
<br> 
<p> <%= @instrument.description.gsub("/n", ". ") %> </p> 
<br>
<strong> Daily Rate - <%= @instrument.daily_rate %> </strong>

<br><br>
<center><% if current_user %>
    <%= button_to 'rent', {:controller => :rentals, :action => 'create', :rental => {:user_id => session[:id], :instrument_id => @instrument.id}}, :method => 'post' %>
<% else %>
    <%= button_to 'Sign in to Rent', sign_in_path, method: :get %>  
<% end %>  
